<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
<nav class="navbar navbar-expand navbar navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">{{pageTitle}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" routerLinkActive='active' [routerLink]="['/welcome']" style="font-weight: bolder;">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLinkActive='active' [routerLink]="['/employee']" style="font-weight: bolder;">Employee List</a>
      <a class="nav-item nav-link active" routerLinkActive='active'  href="#About" style="font-weight: bolder;">About us</a>
      <a class="nav-item nav-link active" routerLinkActive='active' [routerLink]="['/employee']" style="font-weight: bolder;"></a>
    </div>
  </div>
</nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>
